.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.bookingForm form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.bookingForm div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bookingForm input[type="text"],
.bookingForm select {
  width: 100%;
  padding: 8px;
  font-size: 18px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--body-color);
  color: var(--text-color);
}

.bookingForm button {
  color: white;
  font-size: 18px;
  border: none;
  background-color: rgba(131, 255, 131, 0.445);
  padding: 12px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
